</div> <!-- / div for your main content-->

<!-- BEGIN USGS Footer Template -->

<footer class="footer">
	<div class="tmp-container">
		<!-- .footer-wrap -->
			<!-- .footer-doi -->
			<div class="footer-doi">
				<!-- footer nav links -->
				<ul class="menu nav">
					<li class="first leaf menu-links menu-level-1"><a href="https://www.doi.gov/privacy">DOI Privacy Policy</a></li>
					<li class="leaf menu-links menu-level-1"><a href="https://www.usgs.gov/policies-and-notices">Legal</a></li>
					<li class="leaf menu-links menu-level-1"><a href="https://www.usgs.gov/accessibility-and-us-geological-survey">Accessibility</a></li>
					<li class="leaf menu-links menu-level-1"><a href="https://www.usgs.gov/sitemap">Site Map</a></li>
					<li class="last leaf menu-links menu-level-1"><a href="https://answers.usgs.gov/">Contact USGS</a></li>
				</ul>
				<!--/ footer nav links -->      
			</div>
			<!-- /.footer-doi -->

			<hr>

		<!-- .footer-utl-links -->
		<div class="footer-doi">
			<ul class="menu nav">
				<li class="first leaf menu-links menu-level-1"><a href="https://www.doi.gov/">U.S. Department of the Interior</a></li>
				<li class="leaf menu-links menu-level-1"><a href="https://www.doioig.gov/">DOI Inspector General</a></li>
				<li class="leaf menu-links menu-level-1"><a href="https://www.whitehouse.gov/">White House</a></li>
				<li class="leaf menu-links menu-level-1"><a href="https://www.whitehouse.gov/omb/management/egov/">E-gov</a></li>
				<li class="leaf menu-links menu-level-1"><a href="https://www.doi.gov/pmb/eeo/no-fear-act">No Fear Act</a></li>
				<li class="last leaf menu-links menu-level-1"><a href="https://www.usgs.gov/about/organization/science-support/foia">FOIA</a></li>
			</ul>
			</div>			
		<!-- /.footer-utl-links -->
		<!-- .footer-social-links -->
		<div class="footer-social-links">
			<ul class="social">
				<li class="follow">Follow</li>
				<li class="twitter">
					<a href="https://twitter.com/usgs" target="_blank">
						<i class="fa fa-twitter-square"><span class="only">Twitter</span></i>
					</a>
				</li>
				<li class="facebook">
					<a href="https://facebook.com/usgeologicalsurvey" target="_blank">
						<i class="fa fa-facebook-square"><span class="only">Facebook</span></i>
					</a>
				</li>
				<li class="github">
					<a href="https://github.com/usgs" target="_blank">
						<i class="fa fa-github"><span class="only">GitHub</span></i>
					</a>
				</li>
				<li class="flickr">
					<a href="https://flickr.com/usgeologicalsurvey" target="_blank">
						<i class="fa fa-flickr"><span class="only">Flickr</span></i>
					</a>
				</li>
				<li class="youtube">
					<a href="http://youtube.com/usgs" target="_blank">
						<i class="fa fa-youtube-play"><span class="only">YouTube</span></i>
					</a>
				</li>
				<li class="instagram">
					<a href="https://instagram.com/usgs" target="_blank">
						<i class="fa fa-instagram"><span class="only">Instagram</span></i>
					</a>
				</li>
			</ul>
		</div>
		<!-- /.footer-social-links -->
	</div>
		<!-- /.footer-wrap -->	
</footer>
<!-- END USGS Footer Template- -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TKQR8KP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  
  </body> <!-- closing div for body -->