<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
<link href="extra.css" rel="stylesheet" type="text/css" media="screen" />
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
   <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
 

  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TKQR8KP');</script>
<!-- End Google Tag Manager -->
   
</head>

<body> <!-- opening div for body -->
<!-- BEGIN USGS Applications Header Template -->
<header id="navbar" class="header-nav"  role="banner">
  <div class="tmp-container">
      <!-- primary navigation bar -->
  		<!-- search bar-->
      <<div class="header-search"> 
       <!-- <a class="logo-header" href="https://www.usgs.gov/" title="Home">
          <img class="img"  src="logo.png"  alt="Home" />
        </a>-->
        <!-- <form action="https://www.usgs.gov/science-explorer-results" method="GET" id="search-box">
         <div class="fa-wrapper"><label for="se_search" class="only">Search</label>
          <input id="se_search" type="search" name="es" placeholder="Search">
          <button class="fa fa-search" type="submit">
            <span class="only">Search</span>
			 </button></div>
        </form> -->
      </div> 
      <!-- end search bar-->
	</div> 
	<!-- end header-container-->
</header>
<!-- END USGS Applications Header Template -->
<div id="maincontent"> <!-- opening div for your main content -->