# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

name: pkgdown

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  pkgdown:
    runs-on: ubuntu-latest
    # Only restrict concurrency for non-PR jobs
    env: CUSTOM_DR_UA: 'GitHub_CI'
    concurrency:
      group: pkgdown-${{ github.event_name != 'pull_request' || github.run_id }}
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@c0a81a463886bb75afe234e07a9fd5bb79219196

      - uses: r-lib/actions/setup-pandoc@52330cc136b963487918a8867f948ddf954e9e63

      - uses: r-lib/actions/setup-r@52330cc136b963487918a8867f948ddf954e9e63
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@52330cc136b963487918a8867f948ddf954e9e63
        with:
          extra-packages: any::pkgdown, local::.
          needs: website

      - name: Build site
        run: |
          install.packages(c("zoo", "patchwork", "maps", "leaflet", "data.table", "tidyr"))
          pkgdown::build_site_github_pages(new_process = FALSE, install = FALSE, dest_dir = "public") |
          file.copy(from = "./public/articles/logo.png",to = "./public/reference/logo.png")
        shell: Rscript {0}
      - name: Upload artifact
        uses: actions/upload-pages-artifact@64bcae551a7b18bcb9a09042ddf1960979799187
        with:
          path: ./public
  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: pkgdown
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@73e62e651178eeba977de2dc9f4c7645b3d01015

